// @import '../../App.scss';
.section-intelligenceherobanner{
    & .intelligence-herobanner-main-div{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        @include respond-to(mobile) {
            height: auto;
        }
        & .IFT-image-div{
            background-image: url('../../images/bg-intelligence.png');
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            right: 0;
            top: pxToRem(-28);
            height: 90vh;
            width: pxToRem(550);
            z-index: 1;
            @include respond-to(mobile) {
                display: none;
            }
        }
        & .mask-image-div{
            position: absolute;
            top: pxToRem(200);
            right: pxToRem(200);
            z-index: 3;
            width: pxToRem(350);
            height: pxToRem(350);
            @include respond-to(mobile) {
                position: relative;
                top: inherit;
                right: inherit;
                margin: auto;
            }
        }
        & .SIW-logo-div{
            height: pxToRem(177);
            width: pxToRem(177);
            border-radius: 50%;
            position: absolute;
            bottom: pxToRem(36);
            right: pxToRem(120);
            z-index: 3;
        }
    }
}