.section-accordion {
    .accordion-section{
        padding: pxToRem(20) pxToRem(0);
        height: pxToRem(520);
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .accordion {
        width: 100%;
        margin: 0 auto;
        padding: pxToRem(0) pxToRem(30);
        
        .accordion-item {
            border: 1px solid $light-color;
            border-radius: pxToRem(20);
            box-shadow: pxToRem(4) pxToRem(4) pxToRem(20) pxToRem(0) #00000040;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            margin-bottom: pxToRem(40);
            color: rgba(103, 82, 98, 0.5);
            position: relative;
            .accordion-header {
                cursor: pointer;
                .icon {
                    font-size: pxToRem(20);
                    margin-left: pxToRem(10);
                    padding: pxToRem(2) pxToRem(16);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            // Odd items (1st, 3rd, etc.) - rotate +30deg
            &:nth-child(odd) {
                transform: rotate(-3deg);
                z-index: 1;
            }

            // Even items (2nd, 4th, etc.) - rotate -30deg
            &:nth-child(even) {
                transform: rotate(10deg);
                margin-left: pxToRem(50);
            }
            &:nth-child(3) {
                margin-left: pxToRem(-30);
            }
            &:nth-child(2) {
                z-index: 3;
            }
            &:nth-child(4){
                z-index: 0;
            }
            &.active {
                transform: rotate(0deg);
                z-index: 1; 
            }
        }
    }
}
