@import '../../App.scss';

.section-accordion {
    .accordion-section{
        padding: 20px 0px;
        height: 520px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .accordion {
        width: 100%;
        margin: 0 auto;
        padding: 0px 30px;
        
        .accordion-item {
            border: 1px solid $light-color;
            border-radius: pxToRem(20);
            box-shadow: 4px 4px 20px 0px #00000040;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            margin-bottom: 40px;
            color: rgba(103, 82, 98, 0.5);
            position: relative;
            // Common header styles
            .accordion-header {
                cursor: pointer;

                .icon {
                    font-size: pxToRem(20);
                    margin-left: pxToRem(10);
                    padding: 2px 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            // Odd items (1st, 3rd, etc.) - rotate +30deg
            &:nth-child(odd) {
                transform: rotate(-3deg);
                z-index: 1;
            }

            // Even items (2nd, 4th, etc.) - rotate -30deg
            &:nth-child(even) {
                transform: rotate(10deg);
                margin-left: 50px;
            }
            &:nth-child(3) {
                margin-left: -30px;
            }
            &:nth-child(2) {
                z-index: 3;
            }
            &:nth-child(4){
                z-index: 0;
            }
            &.active {
                transform: rotate(0deg);
                z-index: 1; // bring it to front if needed
            }
        }
    }
}
