.custom-button {
    box-shadow: pxToRem(4) pxToRem(4) pxToRem(4) pxToRem(0) #00000040;
    padding: pxToRem(12) pxToRem(20);
    border-radius: pxToRem(50);
    color: $black;
    border: none;
    width: fit-content;
    cursor: pointer;
    transition: background-color 0.3s ease;  
    &:hover {
      background-color: $secondry-color;
      color: $white;
    }  
    &:focus {
      outline: none;
    }  
    &:active {
      background-color: $secondry-color;
      color: $white;
    }
  }
  