@import '../../App.scss';
.custom-button {
    box-shadow: 4px 4px 4px 0px #00000040;
    padding: 12px 20px;
    border-radius: 50px;
    color: $black;
    border: none;
    width: fit-content;
    cursor: pointer;
    transition: background-color 0.3s ease;  
    &:hover {
      background-color: $secondry-color;
      color: $white;
    }  
    &:focus {
      outline: none;
    }  
    &:active {
      background-color: $secondry-color;
      color: $white;

    }
  }
  