@import '../../App.scss';

.bg-gradient-slider {
    background-image: linear-gradient(to right top, #0382db, #008bdb, #0093d9, #009bd7, #00a2d3, #00a9d2, #00b0d1, #00b6ce, #00becd, #00c5ca, #00ccc4, #03d3bd);
}

.section-simpleslider {
    & .slick-dots{
        bottom: 0px;
        & li.slick-active{
         button:before{
            color: $white;
         }
        }
            
    }
    & .review-container {
        margin: pxToRem(20);
        padding: pxToRem(50) pxToRem(0);
        @include respond-to(mobile) {
            margin: pxToRem(0);    
        }
        & .review-quote {
            position: relative;
            & .quote-text {
                &::before {
                    content: "“";
                    font-size: pxToRem(36);
                    color: $sky-blue;
                    position: absolute;
                    left: pxToRem(-20);
                    top: pxToRem(-10);
                }
                &::after {
                    content: "”";
                    font-size: pxToRem(36);
                    color: $sky-blue;
                    position: absolute;
                    right: pxToRem(-20);
                    bottom: pxToRem(-10);
                }
            }
        }

        & .client-info {
            margin-top: pxToRem(15);
            & .client-image {
                width: pxToRem(80);
                height: pxToRem(80);
                border-radius: 50%;
                border: 1px solid $white;
            }
        }
    }

}