$white: #FFFFFF;
$white-95: #F1F1F3;
$primary-color:#A9360A;
$secondry-color:#FCB730;
$orange-50:#FF9500;
$orange-95:#FFF4E5;
$grey:#9FA0A0;
$grey-15:#262626;
$grey-30: #4C4C4D;
$grey-35:#59595A;
$blck:#333;
$black-secondry:#191919;

// Define the color groups for background and text colors
$background-colors: (
  "white": $white,
  "white-95": $white-95,
  "primary": $primary-color,
  "secondary": $secondry-color,
  "orange": $orange-50,
  "grey": $grey,
  "grey-15": $grey-15,
  "grey-30": $grey-30,
  "grey-35": $grey-35,
  "black": $blck,
  "black-secondary": $black-secondry
);

$font-colors: (
  "white": $white,
  "primary": $primary-color,
  "secondary": $secondry-color,
  "orange": $orange-50,
  "grey": $grey,
  "grey-15": $grey-15,
  "grey-30": $grey-30,
  "grey-35": $grey-35,
  "black": $blck,
  "black-secondary": $black-secondry
);
