.back-bg-black {
  position: absolute;
  top: 100vh;
  left: 0%;
  width: 100%;
  height: pxToRem(50);
  background-color: $black;
  transform: skewY(-1deg);
  z-index: 1;
}

.section-marquee {
  background-color: $secondry-color;
  position: relative;
  z-index: 2;
  padding: pxToRem(12) pxToRem(0);
  overflow: hidden;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;
  z-index: 3; // higher than skewed background
}

.marquee-content {
  display: inline-block;
  padding-left: 100%;
  animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
