@import '../../App.scss';
@import '../servicecard/servicecard.scss';


.section-aboutUs {
    .card {
        min-height: 250px;
        &:hover{
            background-color: transparent;
        }
    }

    .slick-slide {
        margin: 0 10px;
    }

    .slick-track {
        display: flex;
        justify-content: space-between;
    }

    .slick-prev:before,
    .slick-next:before {
        color: $black-secondry;
    }

}