.Feature-section{
    & .feature-inner-div{
        grid-template-columns: auto auto auto auto;
        gap: 0;
        & .feature-section-bg{
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: pxToRem(264.25);
            height: pxToRem(262.5);
            padding: pxToRem(0) pxToRem(38);
        }
        & .trading-section{
            background-image: url('../../images/Features-1.png');
            img{
                height: pxToRem(66);
                width: pxToRem(66);
            }
        }
        & .blank-square-section, & .experties-section{
            background-image: url('../../images/Features-2.png');
            img{
                height: pxToRem(60);
                width: pxToRem(60);
            }
        }
        & .brand-identity-section{
            background-image: url('../../images/Features-6.png');
            img{
                height: pxToRem(64);
                width: pxToRem(64);
            }
        }
        & .education-section{
            background-image: url('../../images/Features-3.png');
            img{
                height: pxToRem(59);
                width: pxToRem(59);
            }
        }
        & .Innovation-section, & .blank-circle-section{
            background-image: url('../../images/Features-4.png');
            img{
                height: pxToRem(73);
                width: pxToRem(73);
            }
        }
        
        & .Comprehensive-section{
            background-image: url('../../images/Features-8.png');
            img{
                height: pxToRem(63);
                width: pxToRem(63);
            }
        }
    }
    
}