.section-getIntouch{
    background-color: $light-color;
    box-shadow: pxToRem(4) pxToRem(4) pxToRem(20) pxToRem(0) #00000040;
    padding: pxToRem(12) pxToRem(12);
    border-radius: pxToRem(20);
    & .contact-detail-div{
        background-color: $secondry-color;
        border-radius: pxToRem(16);
        box-shadow: pxToRem(4) pxToRem(4) pxToRem(20) pxToRem(0) #00000033;
        padding: pxToRem(42) pxToRem(16);       
    }
    & .input-getintouch{
        width: 100%;
        outline: 0;
        border-width: 0 0 2px;
        border-color: $dark-secondary;
        border-bottom: 1px solid $dark-secondary;
        height: pxToRem(48);
        background: transparent;
    }
    & .textrea-getintouch{
        border:none;
        border-bottom: 1px solid $dark-secondary;
        background: transparent;
        height: pxToRem(65);
        resize: none;
        &:focus{
            outline: none;
            border: none;
            border-bottom: 1px solid $dark-secondary;
        }
    }
    & .submit-btn{
         padding: pxToRem(8) pxToRem(20);
         background-color: $secondry-color;
         border-radius: pxToRem(50);
    }
}