.section-ourclients {
  background-image: url('../../images/slider-bg.png');
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: pxToRem(742);
  padding: pxToRem(60) pxToRem(0);

  & .left-slider-container {
    & .slick-slider {      
      & .slick-list {
        & .slick-track {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: center;
          height: 100%;
          & .slick-slide {
            & .slider-inner-div {
              &::after {
                content: '';
                position: absolute;
                height: pxToRem(110);
                width: pxToRem(10);
                background-color: $light-color;
                border-top-right-radius: pxToRem(10);
                border-bottom-right-radius: pxToRem(10);
                right: 30%;
              }
            }

            & .my-slick-current {
              margin-left: 20%;
              transition: all 0.3s ease;

              &::after {
                background-color: $dark-color;
                right: pxToRem(55);
              }
            }
          }
        }
      }
    }

  }

  & .right-slider-container {
    display: flex;
    justify-content: flex-end;
    & .slick-slider {
      width: auto;
      max-width: 100%;
      & .slick-list {
        & .slick-track {
          display: flex;
          flex-direction: column;
          justify-content: end;
          align-items: center;
          & .slick-slide {
            & .slider-inner-div {
              &::after {
                content: '';
                position: absolute;
                height: pxToRem(110);
                width: pxToRem(10);
                background-color: $light-color;
                border-top-left-radius: pxToRem(10);
                border-bottom-left-radius: pxToRem(10);
                left: 30%;
              }

              &:not(.my-slick-current) {
                margin-left: 30%;

                &::after {
                  left: 30%;

                }
              }
            }

            & .my-slick-current {
              transition: all 0.3s ease;
              margin-left: 10%;
              &::after {
                background-color: $dark-color;
                left: 10%;
              margin-left: 0%;
              }
            }
          }
        }
      }
    }
  }
  .slick-slide {
    height: auto; // Ensure each slide's height adjusts according to content
    width: 100%;
  }
  & .slider-inner-div {
    background-color: $white;
    border-radius: pxToRem(10);
    padding: pxToRem(8) pxToRem(20);
    margin-bottom: 30px;
    height: pxToRem(110); 
    width: 70%!important;
    & .client-img-div {
      height: pxToRem(80.33);
      width: pxToRem(80.33);
      background-color: $light-color;
      border-radius: 50%;
    }
  }  
  
}
