.section-heading{
  & .Heading{
    display: inline-block;
    & .heading-text{
        z-index: 9;
    }
    & .left-ellipse-icons-div{
        & .left-EllipseDB{
            position: absolute;
            right: pxToRem(-24);
            top: pxToRem(-22);
            z-index: 8;
        }
        & .left-EllipseBS{
            position: absolute;
            right: pxToRem(-46);
            top: pxToRem(34);
            z-index: 7;
        }
        & .left-EllipseLM{
            position: absolute;
            right: pxToRem(-28);
            top: pxToRem(40);
        }
    }
    & .right-ellipse-icons-div{
        & .right-EllipseLM{
            position: absolute;
            left: pxToRem(-30);
            bottom: 0px;
        }
        & .right-EllipseBS{
            position: absolute;
            left: pxToRem(10);
            bottom: 0px;
        }
    }
  }
}
@keyframes slow-rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotate-slow {
    animation-name: slow-rotate;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: inline-block;
  }
  
  // Animation delays
  .delay-1 {
    animation-delay: 2s;
  }
  
  .delay-2 {
    animation-delay: 6s;
  }
  
  .delay-3 {
    animation-delay: 4s;
  }
  
  .delay-4 {
    animation-delay: 10s;
  }
  
  .delay-5 {
    animation-delay: 8s;
  }
  
  .left-ellipse-icons-div img,
  .right-ellipse-icons-div img {
    margin: pxToRem(5);
    width: auto;
    height: auto;
  }
  