// @import '../../App.scss';
.section-heading{
  & .Heading{
    display: inline-block;
    & .heading-text{
        z-index: 9;
    }
    & .left-ellipse-icons-div{
        & .left-EllipseDB{
            position: absolute;
            right: -24px;
            top: -22px;
            z-index: 8;
        }
        & .left-EllipseBS{
            position: absolute;
            right: -46px;
            top: 34px;
            z-index: 7;
        }
        & .left-EllipseLM{
            position: absolute;
            right: -28px;
            top: 40px;
        }
    }
    & .right-ellipse-icons-div{
        & .right-EllipseLM{
            position: absolute;
            left: -30px;
            bottom: 0px;
        }
        & .right-EllipseBS{
            position: absolute;
            left: 10px;
            bottom: 0px;
        }
    }
  }
}
@keyframes slow-rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotate-slow {
    animation-name: slow-rotate;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: inline-block;
  }
  
  // Animation delays
  .delay-1 {
    animation-delay: 2s;
  }
  
  .delay-2 {
    animation-delay: 6s;
  }
  
  .delay-3 {
    animation-delay: 4s;
  }
  
  .delay-4 {
    animation-delay: 10s;
  }
  
  .delay-5 {
    animation-delay: 8s;
  }
  
  .left-ellipse-icons-div img,
  .right-ellipse-icons-div img {
    margin: 5px;
    width: auto;
    height: auto;
  }
  