
.Herobanner-main-div{
    height: 100vh;
    width: 100%;
    & .top-ellipse-icons-div{
        & .top-EllipseDB{
            position: absolute;
            right: pxToRem(44);
            top: 0;
            z-index: 0;
            height: pxToRem(80);
            width: pxToRem(80);
        }
        & .top-EllipseBS{
            position: absolute;
            right: pxToRem(18);
            top: pxToRem(58);
        }
        & .top-EllipseLM{
            position: absolute;
            right: pxToRem(26);
            top: pxToRem(72);
        }
    }
    & .bottom-ellipse-icons-div{
        & .bottom-EllipseLB{
            position: absolute;
            left:pxToRem(-64);
            bottom: pxToRem(174);
            height: pxToRem(80);
            width: pxToRem(80);
        }
        & .bottom-EllipseBM{
            position: absolute;
            left:pxToRem(-80);
            bottom: 140px;
        }
    }
    & .SIW-office-image-div{
        z-index: 1;
        padding: pxToRem(0) pxToRem(20);
        img{
            height: 100%;
            width: 100%;
        
        }
    }
    & .SIW-logo-div{
        background-color: $primary-color;
        height: pxToRem(177);
        width: pxToRem(177);
        border-radius: 50%;
        position: absolute;
        bottom: pxToRem(16);
        left: pxToRem(-48);
        z-index: 1;
    }
}
.herobanner-card-position{
    & .card-position{
        display: flex;
        justify-content: center;
        position: absolute;
        left: 0;
        top: pxToRem(-200);
        width: 100%;
        @include respond-to(mobile) {
            position: relative;
            top: 0;
            display: grid;
            grid-template-columns: auto;
            margin-top: pxToRem(40);
        }
        & .card{
            text-align: left;
            min-height: pxToRem(200);
            width: pxToRem(270);
            & .image-div{
                margin: 0;
                padding: pxToRem(16);
            }
        }
    }
}