.section-intelligence-educator{
    margin-top: pxToRem(200);
    & .left-side-image-section{
        & .image-section-nav{
            display: grid;
            grid-template-columns:auto auto;
            grid-auto-rows: pxToRem(175);
            gap: pxToRem(24);
            & .educator-image1{
                width: pxToRem(200);
                grid-row: span 2;
                border-top-left-radius: pxToRem(50);
                border-top-right-radius: pxToRem(50);
                border-bottom-left-radius: pxToRem(50);
            }
            & .educator-circle{
                width: pxToRem(180);
                border-radius: pxToRem(100);
            }
            & .educator-rectangle{
                width: pxToRem(200);
                height: pxToRem(100);
                border-top-left-radius: pxToRem(50);
                border-top-right-radius: pxToRem(50);
                border-bottom-right-radius: pxToRem(50);
            }
            & .educator-image2{
                width: pxToRem(200);
                grid-row: span 2;
                border-top-right-radius: pxToRem(50);
                border-bottom-right-radius: pxToRem(50);
                border-bottom-left-radius: pxToRem(50);
            }
        }
    }
    & .right-side-content-section{
        padding: pxToRem(0) pxToRem(48);
        height: 100vh;
    }
}