.section-weoffers{
    & .weoffer-card-container{
        & .card-nav{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: pxToRem(78);
            @include respond-to(mobile) {
                grid-template-columns: 1fr;
            }
            & .card-list{
                background-color: $light-color;
                padding: pxToRem(78) pxToRem(36) pxToRem(36);
                border-radius: pxToRem(10);
                height: pxToRem(160);
                & .weoffer-card-body{
                    & .weoffer-icon-div{
                        background-image: url('../../images/ourOffer.png');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: pxToRem(140);
                        width: pxToRem(174);
                        position: absolute;
                        margin: auto;
                        top: pxToRem(-78);
                        left: 0;
                        right: 0;
                        & .weoffer-icon{
                            height: pxToRem(70);
                            width: pxToRem(70);
                            margin: auto;
                        }
                    }
                }                    
            }
        }
    }
}