/* Base styles for header */
@import '../../App.scss';

.header {
    border-bottom: 1px solid $white-95;
    background-color:$white;
    z-index: 1000;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

    & .logo {
        font-size: 24px;
        font-weight: bold;

        @include respond-to(mobile) {
            font-size: 20px;
        }
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include respond-to(mobile) {
            display: none;
        }

        &.open {
            @include respond-to(mobile) {
                display: block;

                & .header-nav {
                    display: block;
                }
            }
        }

        & .header-nav {
            display: flex;
            list-style: none;
            align-items: center;
            margin-left: 56px;
            padding: 0;

            @include respond-to(tablet) {
                display: flex;
            }

            @include respond-to(mobile) {
                display: none;
                position: absolute;
                top: 60px;
                left: 0;
                width: 100%;
                background-color: #333;
                text-align: left;
                padding: 10px 0;
                margin-left: 0px;
            }

            li {
                margin: 0 15px;
                cursor: pointer;

                @include respond-to(mobile) {
                    margin: 24px;
                }

                a {
                    color: $grey-15;

                    @include respond-to(mobile) {
                        color: $white;
                    }

                    &:hover {
                        color: $orange-50;
                    }

                    &.active {
                        color: $orange-50;
                    }
                }

            }
        }

        & .header-nav-second {
            display: flex;
            justify-content: end;
            list-style: none;
            margin-right: 24px;
            align-items: center;
            gap: 16px;

            li {
                & .login-btn {
                    width: 120px;
                    border-radius: 4px;
                }

                & .signup-btn {
                    background: transparent;
                }

                @include respond-to(mobile) {
                    margin-bottom: 0px;
                }
            }
        }
    }

    .hamburger {
        display: none;

        @include respond-to(mobile) {
            display: block;
            font-size: 30px;
            cursor: pointer;
        }
    }
}