.section-educator-weoffer{
    & .slider-container{
        & .weoffer-card{
            height: pxToRem(500);
            padding:pxToRem(0) pxToRem(10);
            & .card-inner{
                height: 100%;
                padding: pxToRem(10);
                background-color: $secondry-color;
                border-radius: pxToRem(20);
            }
        }
    }
}
.slick-slide > div {
    display: flex;
    height: 100%;
  }