.section-visionmission{
    background:url('../.././images/vision-mission.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: pxToRem(329);
    display: flex;
    justify-content: center;
    align-items: center;
    & .text-width{
        width: 80%;
    }
}