.section-visionmission{
    background:url('../.././images/vision-mission.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: pxToRem(329);
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond-to(mobile){
        height: auto;
        padding: 20px 0px;
    }
    & .text-width{
        width: 80%;
        @include respond-to(mobile){
            width: 100%;
        }
    }
}